<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% if (user!=null && user!=undefined) { %>
      <% include header-connected%>
      <%} else { %>
        <% include header%>
      <% } %>
    <div class="container card w-50">
      <div class="d-flex flex-column justify-content-center align-items-center card-body">
      <!-- affichage de l'indice -->
      <p>Selectionne une image qui correspond a :</p>
      <p class="mx-2" id="indice"><strong><%= indice %></strong></p>
      <!-- affichage des images -->
          <div class="row  ">
            <% image.forEach( (image) => {%>
            <div class="d-flex col-6 mb-2 justify-content-center align-items-center">
              <img
                src="<%= image%>"
                id="<%= image%>"
                width="150"
                onClick="verify('<%= image %>')"
              />
            </div>
            <%})%>
          </div>
      <!-- affichage du timer -->
      <div class="mt-5">
        <div class="timer" id="timer"></div>
      </div>
      <!-- script du timer -->
      <script>
        var timeLeft = 30;
        var elem = document.getElementById("timer");
        var timerId = setInterval(countdown, 1000);
        function countdown() {
          if (timeLeft == 0) {
            clearTimeout(timerId);
            elem.innerHTML = "Temps écoulé ! Vous êtes un robot";
            location.reload(true);
          } else {
            elem.innerHTML = timeLeft + " seconds remaining";
            timeLeft--;
          }
        }
        function verify(image) {
          console.log(image);
          $.ajax({
            url: "/verify",
            type: "POST",
            data: {
              image_selected: image,
            },
            dataType: "json",
            // success: function (result) {

            //   console.log(result)
            // },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              if (xhr.status === 200) {
                clearTimeout(timerId);
                document.getElementById("timer").innerHTML =
                  "Félication ! Vous avez trouvé la bonne réponse";
                document.getElementById("timer").classList.remove("timer");
                document.getElementById("timer").classList.add("success");
              } else {
                location.reload(true);
              }
            },
          });
        }
      </script>
      </div>
    </div>
  </body>
</html>
